.welcome__messages {
  width: 250px;
  margin: 95px auto 0;
  position: relative;
}

.welcome__messages > h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--fontBlackWeight);
}

.welcome__messages > img[alt="vector-element"] {
  position: absolute;
  top: 35px;
  right: 30px;
}
