body { margin-inline: 100px; }

/* Start: Main Header Styles */
.main__header {
    margin-block: 230px;

    display: flex;
    justify-content: center;
    gap: 16.6rem;
}

.opening__remark { position: relative; }
.opening__remark > img[alt="background"] {
    width: 520px;

    position: absolute;
    top: -10rem;
    left: -3rem;
    z-index: -9999;
}
.main__title {
    font-size: 88px;
    text-transform: uppercase;
}
.opening__remark > img[alt="vector-element-one"] {
    width: 430px;
    height: 56px;

    position: absolute;
    top: 95px;
    right: -40px;
}

.main__buttons {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 35px;
}
.triangle__button > button {
    font-family: inherit;    
    background-color: var(--defaultColorButton);
    border: none;
    font-size: 40px;
    font-weight: var(--fontBoldWeight);
    padding: 12px 31px;
    cursor: pointer;
    transition: 0.5s;
}
.triangle__button > button:hover { box-shadow: 9px 10px white;}

.about {
    margin-top: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__button {
    color: white;
    text-decoration: none;
    font-size: 36px;
    font-weight: var(--fontBoldWeight);
    transition: 0.5s;
}
.about__button:hover { font-size: 25px; }
.about > div {
    width: 98px;
    height: 7px;
    background-color: white;
}
/* End: Main Header Styles */

/* Start: Section Triangle Styles */
.triangle {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 380px;
}
.triangle > img[alt="dot-element-one"] {
    width: 130px;

    position: absolute;
    top: -150px;
    right: 40px;
}
.triangle__action-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 60px;
}
.action__button > button { padding-inline: 120px; }

.remark { position: relative; }
.remark > h2 {
    font-size: 68px;
    text-transform: uppercase;
}
.remark > img[alt="vector-element-one"] {
    width: 450px;
    height: 56px;

    position: absolute;
    top: 70px;
    left: -10px;
}
.triangle > img[alt="dot-element-two"] {
    width: 130px;

    position: absolute;
    bottom: -200px;
    left: 30px;
}
/* End: Section Triangle Styles */

/* Start: Section Triangle Area */
.triangle__area { 
    margin-block: 250px;
    text-align: center;
}
.triangle__area > h3 {
    font-size: 46px;
    text-align: center;
}

.triangle__input-areas {
    margin-block: 114px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
.formula__area-triangle { position: relative; }
.triangle__image {
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.high__section {
    position: absolute;
    right: -20px;
    top: 45px;
    rotate: 58deg;
}
.base__section { margin-top: 8px; }
.formula__area-triangle > h4,
.formula__area-triangle > h5 {
    font-size: 26px;
    text-align: center;
}
.formula__area-triangle > h4 { margin-top: 26px; }
.formula__area-triangle > h5 {
    margin-top: 10px;
    font-weight: var(--fontMediumWeight);
}

.input__formula-triangle-area { text-align: center; }
.input__formula-triangle-area > h4 { font-size: 26px; }
.formula__input {
    font-size: 26px;
    font-weight: var(--fontMediumWeight);
    margin-block: 50px 55px;
}
.input__base,
.input__high {
    display: flex;
    align-items: center;
    gap: 30px;
}
.input__base {
    margin-left: 25px;
}
.input__base > input,
.input__high > input {
    width: 200px;
    height: 30px;
    padding: 12px 10px;
    border-radius: 5px;
    border: none;
    background-color: inherit;
    color: white;
    font-family: inherit;
    font-size: 20px;
}
.input__base > input::placeholder,
.input__high > input::placeholder { color: white; }
.input__formula-triangle-area > button {
    width: 228px;
    height: 57px;
    border: none;
    border-radius: 50px;
    box-shadow: 2px 5px rgba(124, 124, 0, 0.747);
    font-size: 30px;
    font-weight: var(--fontBoldWeight);
    background-color: var(--defaultColorButton);
    cursor: pointer;
    transition: 0.5s;
}
.input__formula-triangle-area > button:hover { box-shadow: none; }

.results {
    margin-top: 20px;
    font-size: 20px;
}
/* End: Section Triangle Area */

/* Start: Section Triangle Around */
.triangle__around { 
    margin-block: 250px 60px;
    text-align: center;
}
.triangle__around > h3 {
    font-size: 46px;
    text-align: center;
}

.triangle__input-arounds {
    margin-block: 114px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
.formula__around-triangle { position: relative; }
.triangle__image {
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.side__section { margin-top: 8px; }
.formula__around-triangle > h4,
.formula__around-triangle > h5 {
    font-size: 26px;
    text-align: center;
}
.formula__around-triangle > h4 { margin-top: 26px; }
.formula__around-triangle > h5 {
    margin-top: 10px;
    font-weight: var(--fontMediumWeight);
}

.input__formula-triangle-around { text-align: center; }
.input__formula-triangle-around > h4 { font-size: 26px; }
.formula__input {
    font-size: 26px;
    font-weight: var(--fontMediumWeight);
    margin-block: 50px 55px;
}
.input__side{
    display: flex;
    align-items: center;
    gap: 30px;
}
.input__side { margin-left: 25px; }
.input__side > input {
    width: 200px;
    height: 30px;
    padding: 12px 10px;
    border-radius: 5px;
    border: none;
    background-color: inherit;
    color: white;
    font-family: inherit;
    font-size: 20px;
}
.input__side > input::placeholder { color: white; }
.input__formula-triangle-around > button {
    width: 228px;
    height: 57px;
    border: none;
    border-radius: 50px;
    box-shadow: 2px 5px rgba(124, 124, 0, 0.747);
    font-size: 30px;
    font-weight: var(--fontBoldWeight);
    background-color: var(--defaultColorButton);
    cursor: pointer;
    transition: 0.5s;
}
.input__formula-triangle-around > button:hover { box-shadow: none; }

.result__bases,
.result__arounds {
    margin-top: 20px;
    font-size: 20px;
}

.back__triangle-section > button {
    width: 60px;
    height: 60px;
    background-color: var(--defaultColorButton);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 2px 4px rgba(124, 124, 0, 0.747);
    transition: 0.5s;
}
.back__triangle-section > button:hover {
    box-shadow: none;
}
/* End: Section Triangle Around */

/* Start: Styles Up Button */
.back-to__top {
    position: fixed;
    bottom: 50px;
    right: 50px;
}
.back-to__top > button {
    width: 60px;
    height: 60px;
    background-color: var(--defaultColorButton);;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 3px 4px white;
}
.back-to__top > button:hover {
    box-shadow: none;
}
/* End: Styles Up Button */

@media screen and (max-width: 768px ) {
    body {
        margin: 0
    }

    /* Start: Main Header Styles*/
    .main__header {
        margin-block: 150px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .opening__remark { position: relative; }
    .opening__remark > img[alt="background"] {
        width: 300px;
    
        position: absolute;
        top: -100px;
    }
    .main__title {
        font-size: 40px;
        text-transform: uppercase;
    }
    .opening__remark > img[alt="vector-element-one"] {
        width: 230px;
    
        position: absolute;
        top: 30px;
        right: -40px;
    }
    .triangle__button > button {
        border: none;
        font-size: 20px;
        padding: 12px 31px;
        transition: 0.5s;
    }
    .triangle__button > button:hover { box-shadow: 9px 10px white;}
    
    .about { margin: 0 auto; }
    .about__button {
        font-size: 20px;
        transition: 0.5s;
    }
    .about__button:hover { font-size: 20px; }
    .about > div {
        width: 50px;
        height: 4px;
    }
    /* End: Main Header Styles */

    /* Start: Section Triangle Styles */
    .triangle {
        margin: 0 auto;
        position: relative;

        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }
    .triangle > img[alt="dot-element-one"] {
        width: 60px;

        position: absolute;
        top: 0;
        right: 0;
    }
    .triangle__action-button {
        margin-bottom: 50px;

        display: flex;
        align-items: center;
        gap: 20px;
    }
    .action__button > button { padding-inline: 50px; }

    .remark { position: relative; }
    .remark > h2 {
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
    }
    .remark > img[alt="vector-element-one"] {
        width: 150px;
        height: 20px;

        position: absolute;
        top: 35px;
        left: 10px;
    }
    .triangle > img[alt="dot-element-two"] {
        width: 60px;

        position: absolute;
        bottom: 0;
        left: 0;
    }
    /* End: Section Triangle Styles */

    /* Start: Section Triangle Area */
    .triangle__area { 
        margin-top: 100px;
        text-align: center;
    }
    .triangle__area > h3 {
        font-size: 25px;
        text-align: center;
    }

    .triangle__input-areas {
        margin-block: 50px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .formula__area-triangle { position: relative; }
    .triangle__image {
        position: relative;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .high__section {
        position: absolute;
        right: -20px;
        top: 45px;
        rotate: 58deg;
    }
    .base__section { margin-top: 8px; }
    .formula__area-triangle > h4,
    .formula__area-triangle > h5 {
        font-size: 20px;
        text-align: center;
    }
    .formula__area-triangle > h4 { margin-top: 26px; }
    .formula__area-triangle > h5 {
        margin-top: 10px;
        font-weight: var(--fontMediumWeight);
    }

    .input__formula-triangle-area { text-align: center; }
    .input__formula-triangle-area > h4 { font-size: 20px; }
    .formula__input {
        font-size: 16px;
        font-weight: var(--fontMediumWeight);
        margin-block: 20px 35px;
    }
    .input__base,
    .input__high {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    .input__base {
        margin-left: 15px;
    }
    .input__base > input,
    .input__high > input {
        width: 150px;
        height: 15px;
        padding: 6px 5px;
        border-radius: 0px;
        font-size: 13px;
    }
    .input__formula-triangle-area > button {
        width: 124px;
        height: 37px;
        border-radius: 30px;
        font-size: 15px;
    }

    .result__bases,
    .result__bases {
        margin-top: 30px;
        font-size: 15px;
    }
    /* End: Section Triangle Area */

    /* Start: Section Triangle Around */
    .triangle__around { 
        margin-block: 0;
        text-align: center;
    }
    .triangle__around > h3 {
        font-size: 26px;
        text-align: center;
    }

    .triangle__input-arounds {
        margin-block: 50px;

        flex-direction: column;
        gap: 30px;
    }
    .formula__around-triangle > h4,
    .formula__around-triangle > h5 {
        font-size: 20px;
        text-align: center;
    }
    .formula__around-triangle > h4 { margin-top: 20px; }
    .formula__around-triangle > h5 { margin-top: 5px; }

    .input__formula-triangle-around > h4 { font-size: 20px; }
    .formula__input {
        font-size: 20px;
        margin-block: 20px 35px;
    }
    .input__side{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    .input__side { margin-left: 0px; }
    .input__side > input {
        width: 150px;
        height: 15px;
        padding: 6px 5px;
        border-radius: 0;
        font-size: 15px;
    }
    .input__side > input::placeholder { color: white; }
    .input__formula-triangle-around > button {
        width: 124px;
        height: 37px;
        border-radius: 30px;
        font-size: 15px;
    }

    .result__arounds {
        font-size: 15px;
    }
    /* End: Section Triangle Around */

    /* Start: Main Footer */
    .main__footer {
        margin-top: 30px;
        font-size: 7px;
    }
    /* End: Main Footer */

    /* Start: Styles Up Button */
    .back-to__top {
        position: fixed;
        bottom: 30px;
        right: 30px;
    }
    .back-to__top > button {
        box-shadow: none;
    }
    /* End: Styles Up Button */
}