@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --defaultFont: "Poppins", sans-serif;
  --defaultFontSize: 15px;
  --fontRegularWeight: 400;
  --fontMediumWeight: 500;
  --fontSemiBoldWeight: 600;
  --fontBoldWeight: 700;
  --fontExtraBoldWeight: 800;
  --fontExtraBoldWeight: 800;
  --fontBlackWeight: 800;
  --defaultFontStyle: normal;
  --defaultBackgroundColor: #0F0F0F;
  --defaultColor: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--defaultFont);
  font-size: var(--defaultFontSize);
  font-weight: var(--fontRegularWeight);
  background-color: var(--defaultBackgroundColor);
  color: var(--defaultColor);
}

.main-header {
  margin-top: 95px;
  position: relative;
}

.main-header > h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--fontBlackWeight);
}

.main-header > img[alt="vector-element"] {
  position: absolute;
  top: 35px;
  right: 132px;
}


